.Wrapper {
  margin: 8px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  border-radius: 16px;
}

.Image {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.ContentContainer {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.NameText {
  color: black;
  font-size: 11pt;
  font-weight: bold;
}

.CommentText {
  color: black;
  font-size: 11pt;
  line-height: 150%;
}

.TimeText{
  color: dimgrey;
  font-size: 9pt;
  line-height: 150%;
}
